<div class="workouts">
    {{#each workout}}
    {{#each this}}
    {{#if (isArray this)}}
    <h1>{{first this}}</h1>
    <br><br>
    <div class="vidcontainer">
        {{#if (eq (first this) "Rest")}}
        <img src="./images/Rest.png" />
        {{else}}
        <video class="videos" width="300" height="300" controls>
            <source src="./videos/d{{../Day}}/{{first this}}.mp4" type="video/mp4" loop muted>
            Your browser does not support HTML5 video.
        </video>
        <img src="./images/d{{../Day}}/{{first this}}_anterior.svg" onerror="this.style.display='none'" />
        <img src="./images/d{{../Day}}/{{first this}}_posterior.svg" onerror="this.style.display='none'" />
        {{/if}}
    </div>

    {{#if @last}}
    <br><br>
    {{else}}
    <br><br>
    <div class="separator"></div>
    <br><br>
    {{/if}}
    {{/if}}
    {{/each}}
    {{/each}}
</div>