<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> header}}

    {{!-- <div class="days">
        <li class="d1">Day 1</li>
        <li class="d2">Day 2</li>
        <li class="d3">Day 3</li>
        <li class="d4">Day 4</li>
        <li class="d5">Day 5</li>
        <li class="d6">Day 6</li>
        <li class="d7">Day 7</li>
    </div> --}}

    <div class="content">
        {{#each workouts}}
        <h1 onclick="location.href='/{{Day}}'">Day {{Day}}</h1>
        <table class="w1">


            <thead>
                <tr>
                    <th>EXERCISES</th>
                    <th>SETS</th>
                    <th>REPS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each w1}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
                <tr>
                    {{#each w2}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
                <tr>
                    {{#each w3}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
                <tr>
                    {{#each w4}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
                <tr>
                    {{#each w5}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>

            </tbody>

        </table>
        {{/each}}
    </div>
    <script type="text/javascript" src="/Controller/menu.js"></script>
</body>